/* ? google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
/* ! var css */
:root{
    --header-height: 3.5rem;
    /* ? colors */
    --first-color: rgb(255, 255, 255);
    --title-color: rgb(39, 41, 42);
    --text-color: rgb(69, 72, 74);
    --text-color-light: rgb(138, 143, 147);
    --body-color: rgb(255, 255, 255);
    --status_color: rgb(2, 216, 84);
    --container-color: rgb(242, 242, 243);
    --gradient-color: linear-gradient(180deg,
                    rgba(0, 0, 0, 0),
                    rgb(251, 255, 0));
    /* ? font and size */
    /* 1rem = 16px */
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
    /* ? font weigth */
    --font-medium: 500;
    --font-semi-bold: 600;
    /* ? z index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* ! responsive design*/
@media  screen and (min-width: 1024px) {
    :root{
        --biggest-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
        }
}
/* ! base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: .5px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .5s;
}
h1,h2,h3{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/* ? theme */
.nav_buttons{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.change_theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}
/* ? var dark theme */
body.dark_theme{
    --title-color: rgb(243, 242, 243);
    --text-color: rgb(162, 166, 169);
    --body-color: rgb(24, 26, 27);
    --container-color: rgb(29, 31, 32);
    --status_color: rgb(242, 242, 243);
    --gradient-color: linear-gradient(180deg,
                    rgba(0, 0, 0, 0),
                    rgb(90, 90, 90));
}
/* ? color changes */
.dark_theme .nav,
.dark_theme .nav_menu,
.dark_theme .scroll_up{
    background-color: var(--container-color);
    box-shadow: 0 4px 20px rgba(15, 20, 24, 0.4);
}
.dark_theme .home_shape_circle,
.dark_theme .qualification_img,
.dark_theme .comments_img{
    filter: invert(1);
}
.dark_theme .home_social_link{
    color: var(--title-color);
}
.dark_theme .section_border{
    border-bottom: 1px solid rgb(78, 82, 85);
}
.dark_theme::-webkit-scrollbar{
    background-color: rgb(38, 39, 41);
}
.dark_theme::-webkit-scrollbar-thumb{
    background-color: rgb(73, 76, 78);
}
.dark_theme::-webkit-scrollbar-thumb:hover{
    background-color: rgb(99, 104, 107);
}
/* ? reuseble css classes */
.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 2rem;
}
.section_border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}
.section_title,
.section_subtitle{
    text-align: center;
}
.section_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}
.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
}
.main{
    overflow: hidden; /* for animations */
}
@keyframes circl-rotate{
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
      }
      25% {
        transform: rotate3d(0, 0, 1, 90deg);
      }
      50% {
        transform: rotate3d(0, 0, 1, 180deg);
      }
      75% {
        transform: rotate3d(0, 0, 1, 270deg);
      }
      100% {
        transform: rotate3d(0, 0, 1, 360deg);
      }
}
/* ! ========== header / nav ========== */
.header{
    width: 100%;
    position: fixed;
    bottom: 1rem;
    left: 0;
    z-index: var(--z-fixed);
}
.nav{
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-inline: 1.5rem;
    border-radius: 3rem;
    transition: background .5;
}
.nav_logo,
.nav_toggle,
.nav_close{
    color: var(--title-color);
}
.nav_logo{
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
.nav_toggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}
@media screen and (max-width:  1023px) {
    .nav_menu{
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 2rem 1.5rem 5rem;
        border-radius: 2rem;
        transition: bottom .3s;
    }
}
.nav_list{
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    gap: 2rem 3rem;
}
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
}
.nav_link:hover{
    color: var(--title-color);
}
.nav_link i{
    font-size: 1.25rem;
}
.nav_close{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}
/* ? show menu */
.show_menu{
    bottom: 1rem;
}
/* ? active link */
.active_link{
    color: var(--title-color);
}
/* ! ========== home ========== */
.home_container{
    row-gap: 4rem;
    padding-top: 2rem;
}
.home_data{
    row-gap: 1.5rem;
}
.home_title{
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}
.home_blob{
    position: relative;
    width: 200px;
    height: 290px;
    background-color: var(--body-color);
    border: 2px dashed var(--text-color-light);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
    transition: background .5s;
}
.home_profile{
    width: 170px;
    height: 260px;
    background: var(--gradient-color);
    border-radius: 5.5rem;
    overflow: hidden;
}
.home_shape_circle{
    position: absolute;
    opacity: .1;
    width: 400px;
    bottom: -2rem;
    right: -4rem;
    z-index: -1;
    animation: circl-rotate 25s normal linear infinite;
}
.home_social{
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
}
.home_social_link{
    font-size: 1.5rem;
    color: var(--text-color-light);
    transition: color .3s, transform .3s;
}
.home_social_link:hover{
    transform: translateY(-.15rem);
    color: var(--text-color);
}
.home_info{
    display: grid;
    row-gap: 2rem;
}
.home_info_title{
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}
.home_info_discription,
.home_info_number{
    font-family: var(--title-font);
    color: var(--title-color);
}
.home_info_discription{
    padding-right: 4rem;
}
.home_info_number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
/* ! ========== skills ========== */
.skills_container{
    row-gap: 3.5rem;
}
.skills_title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.skills_title i{
    font-size: 1rem;
    font-weight: initial;
}
.skills_info,
.skills_data,
.skills_blob{
    display: grid;
}
.skills_info{
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem 2rem;
}
.skills_data{
    justify-content: center;
    text-align: center;
}
.skills_blob{
    width: 80px;
    height: 100px;
    background: var(--first-color);
    border-radius: 1rem;
    place-items: center;
    margin-bottom: 1rem;
    transition: background .5s;
}
.skills_blob img{
    width: 60px;
}
.skills_name{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
    border-bottom: 1px dashed var(--title-color);
}
/* ? animation skills */
.skills_blob:hover img{
    animation:  bounce-skills .6s;
}
@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }
}
/* ! ========== qualification ========== */
.qualification{
    position: relative;
}
.qualification_container{
    row-gap: 3.5rem;
}
.qualification_title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
}
.qualification_title i{
    font-size: 1rem;
    font-weight: initial;
}
.qualification_info{
    display: grid;
    row-gap: 2rem;
}
.qualification_name{
    font-size: var(--normal-font-size);
    margin-bottom: 1.25rem;
}
.qualification_country,
.qualification_year{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.qualification_country{
    margin-bottom: .75rem;
}
.qualification_img{
    width: 200px;
    position: absolute;
    right: -5rem;
    bottom: 25rem;
    transform: rotate(15deg);
    opacity: .1;
}
/* ! ========== services ========== */
.services_container{
    row-gap: 2.5rem;
    justify-content: center;
}
.services_card{
    position: relative;
    width: 230px;
    height: 370px;
    background-color: var(--container-color);
    text-align: center;
    padding: 3.5rem 1rem;
    border-radius: 7rem;
    transition: background .5s;
}
.services_card i{
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .75rem;
    transition: transform .8s;
}
.services_title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}
.services_border{
    width: 240px;
    height: 380px;
    border: 2px dashed var(--text-color-light);
    border-radius: 7rem;
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    z-index: -1;
    transition: opacity .6s;
    opacity: 0;
}
.services_card:hover i{
    transform: rotateY(360deg);
}
.services_card:hover .services_border{
    opacity: 1;
}
/* ! ========== projects ========== */
.projects_container{
    overflow: initial;
}
.projects_content{
    display: grid;
    justify-content: center;
}
.projects_img{
    width: 250px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}
.projects_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.projects_title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
    margin: .5rem 0 1.25rem;
}
.projects_button{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}
.projects_button i{
    font-size: 1rem;
    transition: transform .3s;
}
.projects_button:hover i{
    transform: translateX(.25rem);
}
/* ? swiper class */
.projects_container .swiper-button-prev::after,
.projects_container .swiper-button-next::after{
     content: '';
}
.projects_container .swiper-button-prev,
.projects_container .swiper-button-next{
     width: initial;
     height: initial;
     margin: initial;
     font-size: 2.5rem;
     color: var(--title-color);
}
.projects_container .swiper-button-prev{
    left: -1rem;
    top: 4.5rem;
}
.projects_container .swiper-button-next{
    right: -1rem;
    top: 4.5rem;
}
.projects_container .swiper-slide{
    margin-bottom: 4.5rem;
}
.projects_container .swiper-pagination-bullets{
    bottom: 0;
}
.projects_container .swiper-pagination-bullet{
    background-color: var(--text-color-light);
    opacity: initial;
}
.projects_container .swiper-pagination-bullet-active{
    background-color: var(--title-color);
}
/* ! ========== comments ========== */
.comments{
    position: relative;
}
.comments_content{
    text-align: center;
}
.comments_description{
    font-family: var(--title-font);
    color: var(--title-color);
    margin-bottom: 1.5rem;
}
.comments_name{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}
.comments_subtitle{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
.comments_img{
    width: 100px;
    transform: translate(30deg);
    position: absolute;
    top: 2rem;
    right: -1.5rem;
    opacity: .1;
}
/* ? swiper class */
.comments_container .swiper-slide{
    margin-bottom: 4rem;
}
.comments_container .swiper-button-prev::after,
.comments_container .swiper-button-next::after{
    content: '';
}
.comments_container .swiper-button-prev,
.comments_container .swiper-button-next{
    font-size: 2rem;
    color: var(--title-color);
    width: initial;
    height: initial;
    top: initial;
    bottom: .5rem;
}
.comments_container .swiper-button-prev{
    left: calc(50% - 3rem);   
}
.comments_container .swiper-button-next{
    right: calc(50% - 3rem);   
}
/* ! ========== contact ========== */
.contact_container{
    row-gap: 3.5rem;
}
.contact_title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.contact_title i{
    font-size: 1rem;
    font-weight: initial;
}
.contact_info,
.contact_data,
.contact_form{
    display: grid;
}
.contact_info{
    row-gap: 2rem;
}
.contact_data{
    row-gap: .75rem;
}
.contact_data_title{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contact_data_info{
    font-size: var(--small-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
}
.contact_button{
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}
.contact_button i{
    font-size: 1rem;
    transition: transform .3s;
}
.contact_button:hover i{
    transform: translateX(.25rem);
}
.contact_form{
    position: relative;
    row-gap: 2rem;
}
.contact_form_div{
    position: relative;
    height: 4rem;
}
.contact_form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    border-radius: 2rem;
    padding: 1rem;
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
    background: none;
    outline: none;
    z-index: 1;
}
.contact_form_tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    z-index: 10;
    background-color: var(--body-color);
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    padding: .35rem;
    transition: background .5s;
}
.contact_form_area{
    height: 10rem;
}
.contact_form_area textarea{
    resize: none;
}
.contact_form .contact_button{
    border: none;
    background: none;
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    outline: none;
    margin-top: .75rem;
}
.contact_form .contact_button i{
    font-size: 1.5rem;
    font-weight: initial;
}
.contact_message{
    font-size: var(--small-font-size);
    position: absolute;
    bottom: 2.8rem;
    left: 1.5rem;
}
/* ? status color */
.color_blue{
    color: var(--status_color);
}
/* ! ========== footer ========== */
.footer_container{
    padding: 3rem 0 7rem;
    text-align: center;
}
.footer_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}
.footer_list,
.footer_social{
    display: flex;
    justify-content: center;
}
.footer_list{
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}
.footer_link{
    color: var(--title-color);
}
.footer_link:hover{
    text-decoration: underline;
}
.footer_social{
    column-gap: 1.25rem;
}
.footer_social_link{
    font-size: 1.5rem;
    color: var(--title-color);
    transition: transform .3s;
}
.footer_social_link:hover{
    transform: translateY(-.15rem);
}
.footer_copy{
    display: block;
    margin-top: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
/* ? scroll bar */
::-webkit-scrollbar{
    width: .5rem;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    background-color: var(--text-color-light);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color);
}
/* ? scroll up */
.scroll_up{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--body-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s, transform .3s;
}
.scroll_up:hover{
    transform: translateY(-.25rem);
}
/* ? show scroll up */
.show_scroll{
    bottom: 6rem;
}
/* ! ============================== RESPONSIVE ============================== */
/* ? mobile */
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }
    .nav_menu{
        padding-bottom: 4rem;
    }
    .nav_list{
        gap: 1rem;
    }
    .skills_info{
        grid-template-columns: repeat(2,1fr);
    }
    .projects_img{
        width: 200px;
        justify-self: center;
    }
}
/* ? tablet */
@media screen and (min-width: 570px){
    .nav,
    .nav_menu{
        width: 380px;
    }
    .nav{
        margin: 0 auto;
    }
    .skills_container{
        justify-content: center;
    }
    .projects_container,
    .comments_container{
        width: 400px;
    }
    .projects_container{
        overflow: hidden;
    }
    .projects_container .swiper-button-prev{
        left: 1rem;
    }
    .projects_container .swiper-button-next{
        right: 1rem;
    }
}
@media screen and (min-width: 760px){
    .home_container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .home_data{
        order: 2;
    }
    .home_info:nth-child(3){
        order: 3;
        text-align: right;
    }
    .home_info{
        margin-top: 10rem;
    }
    .home_info_discription{
        padding-right: 0;
    }
    .skills_container,
    .qualification_container,
    .services_container,
    .contact_container{
        grid-template-columns: repeat(2, max-content);
    }
    .skills_container,
    .services_container{
        column-gap: 5rem;
    }
    .qualification_container{
        justify-content: center;
        column-gap: 10rem;
    }
    .projects_container{
        width: 500px;
    }
    .contact_form{
        width: 360px;
    }
    .contact_container{
        justify-content: center;
        column-gap: 8rem;
    }
    .comments_img{
        width: 200px;
        right: -2rem;
    }
}
/* ? desktop */
@media screen and (min-width: 1023px){
    .header{
        top: 0;
        bottom: initial;
        background-color: var(--body-color);
        transition: .5s;
    }
    .nav{
        width: initial;
        height: calc(var(--header-height) + 1.5rem);
        box-shadow: none;
        border-radius: 0;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
        transition: background .5s;
    }
    .nav_link i,
    .nav_toggle,
    .nav_close{
        display: none;
    }
    .nav_menu{
        width: initial;
        margin-left: auto;
        background-color: var(--body-color);
        transition: background .5s;
    }
    .nav_list{
        display: flex;
        column-gap: 3rem;
    }
    .nav_link{
        font-size: var(--normal-font-size);
    }
    .dark_theme .nav,
    .dark_theme .nav_menu{
        background-color: var(--body-color);
        box-shadow: none;
        transition: background .5s;
    }
    .change_theme{
        color: var(--text-color-light);
    }
    .change_theme:hover{
        color: var(--title-color);
    }
    .section{
        padding-block: 5rem 0;
    }
    .home_title{
        font-size: 2.25rem;
    }
    .scroll_up{
        right: 3rem;
    }
    .show_scroll{
        bottom: 5rem;
    }
    /* ? background header */
    .bg_header{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .dark_theme .bg_header{
        box-shadow: rgba(59, 59, 59, 0.2) 0px 8px 24px;
    }
}
@media screen and (min-width: 1048px) {
    .container{
        margin-inline: auto;
    }
}
@media screen and (min-width: 1200px) {
    .section_border{
        padding-bottom: 6rem;
    }
    .section_subtitle{
        margin-bottom: 5rem;
    }
    .home_blob{
        width: 300px;
        height: 450px;
        border-radius: 10.5rem;
    }
    .home_profile{
        width: 250px;
        height: 400px;
        border-radius: 10.5rem;
    }
    .home_data{
        row-gap: 2.5rem;
    }
    .home_social{
        column-gap: 2rem;
    }
    .home_social_link{
        font-size: 2rem;
    }
    .home_info{
        grid-template-rows: repeat(3, 130px);
        row-gap: 4rem;
        margin-top: 16rem;
    }
    .skills_container{
        column-gap: 10rem;
    }
    .skills_title{
        margin-bottom: 3rem;
    }
    .skills_title i{
        font-size: 1.25rem;
    }
    .skills_name{
        font-size: var(--normal-font-size);
    }
    .skills_info{
        gap: 3rem;
    }
    .qualification_container{
        column-gap: 14rem;
    }
    .qualification_title{
        margin-bottom: 3rem;
    }
    .qualification_title i{
        font-size: 1.25rem;
    }
    .qualification_name{
        font-size: var(--h3-font-size);
    }
    .qualification_img{
        width: 300px;
        left: -5rem;
    }
    .services_container{
        grid-template-columns: repeat(3, max-content);
    }
    .services_card{
        width: 240px;
        height: 390px;
        border-radius: 8rem;
        padding: 3.5rem 1.5rem;
    }
    .services_card i{
        font-size: 2rem;
    }
    .services_border{
        width: 250px;
        height: 400px;
        border-radius: 8rem;
    }
    .projects_container{
        width: 900px;
    }
    .projects_container .swiper-button-prev,
    .projects_container .swiper-button-next{
        font-size: 3rem;
    }
    .projects_container .swiper-button-prev{
        left: -1rem;
    }
    .projects_container .swiper-button-next{
        right: -1rem;
    }
    .projects_container .swiper-slide{
        margin-bottom: 6.5rem;
    }
    .projects_img{
        width: 320px;
        margin-bottom: 2rem;
    }
    .comments_container{
        width: 566px;
    }
    .comments_container .swiper-button-prev,
    .comments_container .swiper-button-next{
        font-size: 2.5rem;
    }
    .comments_container .swiper-button-prev{
        left: calc(50% - 5rem);
    }
    .comments_container .swiper-button-next{
        right: calc(50% - 5rem);
    }
    .comments_container .swiper-slide{
        margin-bottom: 6rem;
    }
    .comments_description{
        font-size: var(--normal-font-size);
        margin-bottom: 2rem;
    }
    .comments_img{
        width: 300px;
        right: -7rem;
    }
    .contact_title{
        margin-bottom: 3rem;
    }
    .contact_title i{
        font-size: 1.5rem;
    }
    .contact_info{
        row-gap: 3rem;
    }
    .contact_data_info{
        font-size: var(--normal-font-size);
    }
    .contact_form{
        row-gap: 2.5rem;
    }
    .footer_container{
        padding: 4rem 0 3rem;
    }
    .footer_list{
        column-gap: 3rem;
        margin: 3rem 0;
    }
    .footer_social{
        column-gap: 2rem;
    }
    .footer_copy{
        margin-top: 5rem;
    }
}